body {
    color: #333;
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

* {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

a {
    outline: none;
    color: #333;
    text-decoration: none;
}

.box .container {
    /*width: 1000px;*/
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
    padding: 0!important;
}

section {
    display: block;
}

.mod {
    zoom: 1;
}

.row-search {
    margin-top: 18px;
    margin-bottom: 18px;
}

.mod:before, .mod:after, .mod-hd:before, .mod-hd:after {
    content: "";
    display: table;
}

.mod:after, .mod-hd:after {
    clear: both;
}

.mod:before, .mod:after, .mod-hd:before, .mod-hd:after {
    content: "";
    display: table;
}

.search-index span {
    display: inline-block;
}

.search-index div {
    border-bottom: 1px solid #fff;
    /*overflow: hidden;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
    font-size: 14px;
}

.grid {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.search-index .search-index-L {
    float: left;
    border-right: 1px solid #fff;
    background-color: #efefef;
    text-align: center;
    color: #747474;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-index-L button{
    height: 100%;
    border-radius: 0;
    right: 0;
    position: absolute;
    background: transparent;
    border: transparent;
}


.search-index-L .btn.btn-primary:focus,
.search-index-L .btn.btn-primary:active {
    background-color: transparent!important; /* 你可以根据自己的需求设置背景颜色 */
    border: transparent!important; /* 你可以根据自己的需求设置边框颜色 */
    box-shadow: none!important; /* 取消点击时的阴影样式 */
    outline: none!important; /* 取消点击时的边框样式 */
}

.search-index .search-index-R {
    background-color: #f9f9f9;
    /**height: 35px;*/
    /*display: block;*/
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.search-index .search-index-R a {
    padding: 2px 8px;
    margin: 4px 2px;
    line-height: 20px;
    display: inline-block;
}

.search-index .search-index-R a:hover, .search-index .search-index-R a.cur, .type-a-new, .area-a-new, .g-a-new, .p-a-new {
    background: #609fbf;
    color: #FFF;
}

.search-list {
    margin-top: 0;
}

.search-list .container-fluid {
    margin: 0!important;
    padding: 0!important;
}

.list-box {
    margin-top: 15px!important;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.list-a {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    background: #F9F9F9;
    text-decoration: none!important;
}

.list-a p{
    margin: 0;
}

/*.list-a img {*/
/*    width: 150px;*/
/*    height: 203px;*/
/*    !*width: 100%;*!*/
/*    !*height: auto;*!*/
/*    vertical-align: top;*/
/*    border: 0;*/
/*}*/

.list-a h3 {
    font-size: 14px;
    font-weight: normal;
    padding: 0 6%;
    margin-top: 7px;
    margin-bottom: 6px;
}

.list-a i {
    color: #cc0000;
    float: right;
    position: relative;
    right: 10px;
    top: -24px;
}

.list-a p {
    padding: 0 5%;
    font-size: 12px;
    color: #999999;
    width: 100px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

/*VIP*/
.bigImg {
    width: 150px;
    height: 203px;
    vertical-align: top;
    border: 0;
}

.vipImg {
    position: absolute;
    top: 0; /* 距离大图片顶部的距离 */
    right: 0; /* 距离大图片右侧的距离 */
    width: 50px; /* 小图片的宽度 */
    height: 50px; /* 小图片的高度 */
    z-index: 2; /* 设置小图片的层级，确保在大图片之上 */
}

/*分页*/
.pagination{
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
}

/*响应式*/
@media screen and (max-width: 576px){
    .search-list .container-fluid>div{
        margin-left: 0;
    }
    .bigImg{
        width: 100%;
        height: 218px;
    }
}

@media screen and (min-width: 576px){
    .search-list .container-fluid>div{
        margin-left: 0;
    }
    .bigImg{
        width: 100%;
        height: 218px;
    }
}

@media screen and (min-width: 768px){
    .search-list {
        width: 740px;
    }
    .search-list .container-fluid>div{
        margin-left: -10px;
    }
    .bigImg{
        width: 100%;
        height: 218px;
    }
}

@media screen and (min-width: 992px){
    .search-list {
        width: 980px;
    }
    .search-list .container-fluid>div{
        margin-left: -10px;
    }
    .bigImg{
        width: 100%;
        height: 193px;
    }
}

@media screen and (max-width: 992px){
    .search-index-L {
        width: 100%!important;
        font-size: 18px;
    }

    .mao-hao, .p-none {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .box .container {
        width: 1000px;
    }
    .search-list {
        width: 1020px;
    }
    .search-list .container-fluid>div{
        margin-left: -10px;
    }
}