html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.box{
    font-family: Microsoft YaHei, SimSun, Arial, serif;
}

div {
    display: block;
}


.playerBox {
    /*width: 1380px;*/
    margin: 0 auto;
    padding-top: 30px;
    /*min-width: 1000px;*/
    width: 100%;
    position: relative;
    background-color: #222222;
    z-index: 4;
}

.playerBox-player {
    width: 100%;
    height: 100%;
    /*height: 532px;*/
    background-color: #0c0c0c;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.player-wrapper {
    /*width: 1000px;*/
    height: 100%;
}

.play-media {
    /*width: 1060px;*/
    overflow: visible;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999;
    float: left;
}

.player-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background: #0c0c0c;
}

.player-swf {
    left: 215px;
    width: 100%;
    height: 100%;
    float: left;
}

.mplayer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
    user-select: none;
}

.mplayer * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Microsoft YaHei",微软雅黑,Arial, Helvetica, sans-serif;
}

.playerContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.playerContainer video {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.currentVideo {
    display: block;
}

.currentImg {
    width: 100%;
    height: 100%;
}

.mplayer .playerPosterWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 21;
}

.mplayer .playerPosterWrap.hidden {
    display: none;
}

.mplayer .playerPosterWrap .playerPoster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mplayer .playerPosterWrap .posterBtnPlay {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 45px;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 45px;
    cursor: pointer;
}

.mplayer i.iconfont {
    color: #fff;
    display: inline-block;
}

.mplayer .playerBottom.down {
    bottom: -52px;
}

.mplayer .playerBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.hintInfo {
    padding-left: 10px;
    padding-bottom: 13px;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    display: none;
}

.hintTip {
    width: auto;
    display: inline-block;
    padding: 8px 18px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 18px;
}

.hintInfo .hintTip .icon-close {
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
}


.mplayer .iconfont {
    font-size: 16px;
}

.iconfont {
    font-family: "iconfont", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.playerControl {
    width: 100%;
    height: 49px;
    position: relative;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2));
    line-height: 49px;
}

.playerControl .box {
    position: relative;
}

.playerControl .controlLeft {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
}

.playerControl .tipIcon {
    position: relative;
}

.playerControl .controlIcon, .playerControl .tipIcon {
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    display: inline-block;
}

.playerControl .controlNext.hidden {
    display: none;
}

.controlNext .nextWrap {
    position: absolute;
    left: 0;
    bottom: 42px;
    padding-bottom: 10px;
    display: none;
    z-index: 2;
}

.controlNext .nextWrap .nextWrapBox {
    width: 324px;
    height: 77px;
    background-color: rgba(0, 0, 0, 0.8);
}

.playerControl .playerTime {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}



.playerControl .playerTime span {
    margin: 0 5px;
}

.playerControl .controlLeft .controlLiveTag {
    display: none;
}

.playerControl .controlRight {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
}

.playerControl .controlLeft .controlLiveTag span {
    color: #33a1ff;
}

.playerControl .textIcon {
    cursor: pointer;
    padding: 0 5px;
    display: inline-block;
    height: 100%;
    font-family: "Microsoft YaHei",微软雅黑,Arial, Helvetica, sans-serif;
}

.playerControl .box span {
    color: #fff;
    font-size: 14px;
    padding: 5px 7px;
}

.playerControl .playbackRateWrap, .playerControl .qualityWrap {
    position: absolute;
    left: 50%;
    bottom: 42px;
    padding-bottom: 10px;
    transform: translateX(-50%);
    z-index: 2;
    display: none;
}

.controlPlaybackRate:hover .playbackRateWrap{
    display: block;
}

.controlQuality:hover .qualityWrap {
    display: block;
}

.controlVoice:hover .voiceWrap {
    display: block;
}

.controlSetting:hover .settingWrap {
    display: block;
}



.playerControl .textIcon ul {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    z-index: 2;
}

.mplayer ul {
    list-style: none;
}

.playerControl .textIcon ul li {
    color: #fff;
    height: 14px;
    /*line-height: 14px;*/
    font-size: 14px;
    padding: 0 42px 25px 42px;
    white-space: nowrap;
    text-align: center;
}

.playerControl .textIcon ul li.selected {
    color: #33a1ff;
}

.icon-play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 16px; /* 上、右、下、左的边框宽度 */
    border-color: transparent transparent transparent white;

}

.icon-pause {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.icon-pause:before,
.icon-pause:after {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    height: 16px;
    background-color: white;
}

.icon-pause:before {
    left: 1px;
}

.icon-pause:after {
    right: 1px;
}

.voiceWrap {
    position: absolute;
    width: 50px;
    height: 180px;
    padding-bottom: 10px;
    left: 50%;
    bottom: 42px;
    transform: translateX(-60%);
    display: none;
    z-index: 2;
}

.voiceWrap .voiceBox {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 50px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.voiceWrap .voiceSliderPercent {
    color: #fff;
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    display: none;
}

.voiceWrap .voiceSlider {
    width: 4px;
    height: 96px;
    background-color: #554f48;
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -2px;
    border-radius: 5px;
}

.voiceWrap .voiceSlider .voiceSliderBg {
    width: 100%;
    height: 0;
    background-color: #259bff;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px;
}

.voiceWrap .voiceSlider .voiceSliderBlock {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    bottom: -6px;
    left: -4px;
}

.settingWrap {
    position: absolute;
    left: 50%;
    bottom: 42px;
    height: 58px;
    color: #fff;
    width: 100px;
    padding-bottom: 10px;
    transform: translateX(-50%);
    display: none;
    z-index: 2;
}

.settingWrap .settingBox {
    width: 100px;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.settingWrap .settingItem {
    line-height: 24px;
    text-align: left;
}

.playerControl .settingWrap .settingItem i.iconfont {
    color: #fff;
}

.playerControl .box .settingItem span {
    color: #fff;
    font-size: 14px;
    padding: 0 0 0 20px;
}

.playerControl .sliderBox {
    width: 100%;
    height: 3px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    bottom: 49px;
    left: 0;
    cursor: pointer;
}

.playerControl .sliderBox:hover{
    height: 13px;
}

.playerControl .sliderBox:hover .sliderTime{
    display: block;
}

.playerControl .sliderBox:hover .sliderTimeBlock{
    display: block;
}

.playerControl .sliderBox:hover .sliderBlock{
    display: block;
}


.playerControl .sliderBox .sliderTime {
    position: absolute;
    bottom: 19px;
    border-radius: 10px;
    padding: 5px 10px;
    line-height: 12px;
    background-color: rgba(0,0,0,.62);
    color: #fff;
    font-size: 12px;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 2;
    display: none;
}

.playerControl .sliderBox .sliderTimeBlock {
    position: absolute;
    top: -3px;
    width: 3px;
    height: 19px;
    border-radius: 3px;
    background-color: #fff;
    left: 50%;
    z-index: 2;
    display: none;
}

.playerControl .sliderBox .sliderLoaded {
    width: 0;
    height: 100%;
    background: rgba(255,255,255,0.65);
    position: absolute;
    top: 0;
    left: 0;
}

.playerControl .sliderBox .sliderBg {
    width: 0;
    height: 100%;
    background-color: #259bff;
    position: absolute;
    top: 0;
    left: 0;
}

.playerControl .sliderBox .sliderBlock {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: -2px;
    cursor: pointer;
    z-index: 3;
    display: none;
}

.icon {
    margin: auto;
    display: inline-block; /* 可以使内部文本块状化 */
    vertical-align: middle; /* 垂直居中 */
    width: 25px;
    height: 25px;
}


.voiceSound {

}

.setting {

}

.fullScreen {

}
@media screen and (min-width: 768px){
    .playerBox {
        width: 720px;
    }
}

@media screen and (min-width: 992px){
    .playerBox {
        width: 960px;
    }

}

@media screen and (min-width: 1200px){
    .playerBox {
        width: 1000px;
    }
}