<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>首页</title>
      <link type = "text/css" rel = "stylesheet" href = "/css/index.css" >
      <script src = "/js/jquery-1.4.2.js" defer="true"></script>
    <script src = "/js/index.js" defer="true"></script>
  </head>
  <body>
      <div clss = "box">
        <div id="top" th:insert="top.html"></div>
        <!--正文-->
        <div id = "page">
          <div class = "container">
            <div id = "content">
              <!--分类栏目-->
              <section id = "mod_index" class = "mod row search-index">
                <div class = "grid">
                  <span class="search-index-L">类型：</span>
                  <p class="search-index-R">
                    <a href="javascript:void(0);" th:class="${type == '全部'} ? 'type-a-new' : 'type-a'">全部</a>
                    <a href="javascript:void(0);" th:each="t:${types}" th:class="${type == t} ? 'type-a-new' : 'type-a'" th:text="${t}"></a>
                  </p>
                </div>
                <div class = "grid">
                  <span class="search-index-L">地区：</span>
                  <p class="search-index-R">
                    <a href="javascript:void(0);" th:class="${area == '全部' ? 'area-a-new' : 'area-a'}">全部</a>
                    <a href="javascript:void(0);" th:each="a:${areas}" th:class="${area == a ? 'area-a-new' : 'area-a'}" th:text="${a}"></a>
                  </p>
                </div>
                <div class = "grid">
                  <span class="search-index-L">基因：</span>
                  <p class="search-index-R">
                    <a href="javascript:void(0);" th:class="${g == '全部' ? 'g-a-new' : 'g-a'}">全部</a>
                    <a href="javascript:void(0);" th:each="genre:${genres}" th:class="${genre == g ? 'g-a-new' : 'g-a'}" th:text="${genre}"></a>
                  </p>
                </div>
                <div class = "grid">
                  <span class="search-index-L">排行：</span>
                  <p class="search-index-R">
                    <a href="javascript:void(0);" th:class="${p == '最热' ? 'p-a-new' : 'p-a'}">最热</a>
                    <a href="javascript:void(0);" th:class="${p == '最新' ? 'p-a-new' : 'p-a'}">最新</a>
                    <a href="javascript:void(0);" th:class="${p == '最好' ? 'p-a-new' : 'p-a'}">最好</a>
                  </p>
                </div>
              </section>
              <!--分类栏目结束-->
              <!--分页-->
              <section class="vod-page" id = "vod-page1">
                <ul class="pagination">
                  <li class="page-item"><a th:href="@{/index(pageNo=1, type=${type}, area=${area}, g=${g}, p=${p})}" class="page-link">首页</a></li>
                  <li class="page-item" th:switch="${currentPage}">
                    <a class="page-link" th:case="1" th:href="@{/index(pageNo=${currentPage}, type=${type}, area=${area}, g=${g}, p=${p})}">上一页</a>
                    <a class="page-link" th:case="*" th:href="@{/index(pageNo=${currentPage - 1}, type=${type}, area=${area}, g=${g}, p=${p})}">上一页</a>
                  </li>
                  <li class="page-item" th:if="${currentPage}==${pageCount}" >
                    <a class="page-link" th:href="@{/index(pageNo=${pageCount}, type=${type}, area=${area}, g=${g}, p=${p})}">下一页</a>&nbsp;&nbsp;
                  </li>
                  <li class="page-item" th:unless="${currentPage}==${pageCount}" >
                    <a class="page-link" th:href="@{/index(pageNo=${currentPage + 1}, type=${type}, area=${area}, g=${g}, p=${p})}">下一页</a>
                  </li>
                  <li class="page-item"><a  class="page-link" th:href="@{/index(pageNo=${pageCount}, type=${type}, area=${area}, g=${g}, p=${p})}">尾页</a></li>
                </ul>
              </section>
              <!--分页结束-->
              <!--搜索list-->
              <section class="mod row search-list">
                <div class="list-box" th:each="movie:${movies}" th:id="${movie.getMovieId()}">
                  <a class="list-a">
                    <img th:src="@{'/img/movie_picture/'+${movie.getPicture()}}" class="bigImg">
                    <img th:if="${movie.getVideoVip() == 1}" src="/img/icon/VIP-rightTop.png" class="vipImg">
                    <h3 th:text="${movie.getMovieName()}"></h3>
                    <i th:text="${movie.getRating()}"></i>
                    <p th:text="'主演:'+${movie.getActorList()}"></p>
                  </a>
                </div>
              </section>
              <!--搜索list结束-->
              <section class="vod-page" id = "vod-page2">
                <ul class="pagination">
                  <li class="page-item"><a th:href="@{/index(pageNo=1, type=${type}, area=${area}, g=${g}, p=${p})}" class="page-link">首页</a></li>
                  <li class="page-item" th:switch="${currentPage}">
                    <a class="page-link" th:case="1" th:href="@{/index(pageNo=${currentPage}, type=${type}, area=${area}, g=${g}, p=${p})}">上一页</a>
                    <a class="page-link" th:case="*" th:href="@{/index(pageNo=${currentPage - 1}, type=${type}, area=${area}, g=${g}, p=${p})}">上一页</a>
                  </li>
                  <li class="page-item" th:if="${currentPage}==${pageCount}" >
                    <a class="page-link" th:href="@{/index(pageNo=${pageCount}, type=${type}, area=${area}, g=${g}, p=${p})}">下一页</a>&nbsp;&nbsp;
                  </li>
                  <li class="page-item" th:unless="${currentPage}==${pageCount}" >
                    <a class="page-link" th:href="@{/index(pageNo=${currentPage + 1}, type=${type}, area=${area}, g=${g}, p=${p})}">下一页</a>
                  </li>
                  <li class="page-item"><a  class="page-link" th:href="@{/index(pageNo=${pageCount}, type=${type}, area=${area}, g=${g}, p=${p})}">尾页</a></li>
                </ul>
              </section>

            </div>

          </div>
        </div>

      </div>

  </body>
</html>