<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电影排行</title>
    <link type = "text/css" rel = "stylesheet" href = "/css/rank.css" >
    <script src = "/js/jquery-1.4.2.js" defer="true"></script>
    <script src = "/js/rank.js" defer="true"></script>
</head>
<body>
    <!--导航-->
    <div id="top" th:insert="top.html"></div>
    <!--导航结束-->
        <div class="box-10px"></div>
        <div class="rank-box">
            <div class="rank-left-box">
                <ul class="boxbg">
                    <li class="line_bott">
                        <h3 class="area rank-h3">地区</h3>
                        <a href="javascript:void(0);" th:class="${area == '全部'} ? 'rank-area-a nowBA' : 'rank-area-a'">全部</a>
                        <a href="javascript:void(0);" th:each="a:${areas}" th:class="${area == a} ? 'rank-area-a nowBA' : 'rank-area-a'" th:text="${a}"></a>
                    </li>
                    <li class="line-top">
                        <h3 class="type rank-h3">类型</h3>
                        <a href="javascript:void(0);" th:class="${type == '全部'} ? 'rank-type-a nowBA' : 'rank-type-a'" >全部</a>
                        <a href="javascript:void(0);" th:each="t:${types}" th:class="${type == t} ? 'rank-type-a nowBA' : 'rank-type-a'" th:text="${t}"></a>
                    </li>
                </ul>
                <div class="bottom-pic"></div>
            </div>
            <div class="rank-right-box">
                <div class="right-box-content">
                    <h2 class="duFONT" style="position: relative">
                        <div class="duFONT-nav">
                            <a href="javascript:void(0);" th:class="${rank == '1'} ? 'nav-select nowBA' : 'nav-select'">总</a>
                            <a href="javascript:void(0);" th:class="${rank == '2'} ? 'nav-select nowBA' : 'nav-select'">月</a>
                            <a href="javascript:void(0);" th:class="${rank == '3'} ? 'nav-select nowBA' : 'nav-select'">周</a>
                            <a href="javascript:void(0);" th:class="${rank == '4'} ? 'nav-select nowBA' : 'nav-select'">好评</a>
                        </div>
                    </h2>
                    <div class="boxbg">
                        <div class="tableRANK">
                            <dl class="title">
                                <dt class="li01">排行</dt>
                                <dt class="li02">电影名称</dt>
                                <dt class="li03">主演</dt>
                                <dt class="li04">评分</dt>
                            </dl>
                            <dl class="cl" th:each="movie, newMoviesStat:${newMovies}">
                                <dt class="li01 ta_c"><b class="ptnob" th:text="${newMoviesStat.index+1}">1</b></dt>
                                <dt class="li02 ta_c oh">
                                    <a th:href="@{'/index/detail?movieId='+${movie.getMovieId()}}" th:text="${movie.getMovieName()}"></a>
                                </dt>
                                <dt class="li03 ta_c oh">
                                    <span>
                                        <a th:each="actor:${movie.getActorList()}" th:text="${actor} + ' '" th:href="@{/index(tag=1, text=${actor})}"></a>
                                    </span>
                                </dt>
                                <dt class="li04 ta_c">
                                    <span th:text="${movie.getRating()}"></span>
                                </dt>
                            </dl>
                        </div>
                    </div>

                </div>
                <section class="vod-page" id = "vod-page1">
                    <ul class="pagination">
                        <li class="page-item"><a th:href="@{/index/rank(pageNo=1, type=${type}, area=${area}, rank=${rank})}" class="page-link">首页</a></li>
                        <li class="page-item" th:switch="${currentPage}">
                            <a class="page-link" th:case="1" th:href="@{/index/rank(pageNo=${currentPage}, type=${type}, area=${area}, rank=${rank})}">上一页</a>
                            <a class="page-link" th:case="*" th:href="@{/index/rank(pageNo=${currentPage - 1}, type=${type}, area=${area}, rank=${rank})}">上一页</a>
                        </li>
                        <li class="page-item" th:if="${currentPage}==${pageCount}" >
                            <a class="page-link" th:href="@{/index/rank(pageNo=${pageCount}, type=${type}, area=${area}, rank=${rank})}">下一页</a>
                        </li>
                        <li class="page-item" th:unless="${currentPage}==${pageCount}" >
                            <a class="page-link" th:href="@{/index/rank(pageNo=${currentPage + 1}, type=${type}, area=${area}, rank=${rank})}">下一页</a>
                        </li>
                        <li class="page-item"><a  class="page-link" th:href="@{/index/rank(pageNo=${pageCount}, type=${type}, area=${area}, rank=${rank})}">尾页</a></li>
                    </ul>
                </section>
            </div>
        </div>
</body>
</html>