.navbar {
	z-index: 15;
	box-shadow: 0 5px 10px #B7B7B7;
}
.nav_span{
	font-family: "楷体", serif;
	font-size: 200%;
	float: right;
	line-height: 56px;
	text-align: center;
}
.form-control:focus {
	box-shadow: none;
}
.navbar-nav .nav-item:hover {
	background-color: #e2e2e2;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.nav-item a {
	text-align: center;
}

.dropdown-menu[data-bs-popper]{
	left: -7.5%;
	text-align: center;
}

.dropdown-item {
	cursor: pointer;
}

.dropdown-item:hover {
	background-color: #e0e0e0;
}
@media screen and (min-width: 992px){
	.search-box {
		width: 50%;
		left: 15%;
	}
	#userBoxMdSm{
		display: none;
	}
}
@media screen and (max-width: 992px){
	.search-box {
		width: 100%;
	}
	#userBox {
		display: none;
	}
}