body {
    color: #333;
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

div {
    display: block;
}

a {
    outline: none;
    color: #333;
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

section {
    display: block;
}

.mod {
    zoom: 1;
    margin-left: -10px;
    margin-right: -10px;
}

.row {
    margin-top: 18px;
    margin-bottom: 18px;
}

.mod:before, .mod:after, .mod-hd:before, .mod-hd:after {
    content: "";
    display: table;
}

.mod:after, .mod-hd:after {
    clear: both;
}

.mod:before, .mod:after, .mod-hd:before, .mod-hd:after {
    content: "";
    display: table;
}

.search-index span {
    display: inline-block;
}

.search-index div {
    width: 100%;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.grid {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.search-index .search-index-L {
    width: 60px;
    float: left;
    border-right: 1px solid #fff;
    background-color: #efefef;
    text-align: center;
    color: #747474;
    margin: 0;
    padding: 0;
}

.search-index .search-index-R {
    background-color: #f9f9f9;
    *height: 35px;
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.search-index .search-index-R a {
    padding: 2px 8px;
    margin: 4px 2px;
    line-height: 20px;
    display: inline-block;
}

.search-index .search-index-R a:hover, .search-index .search-index-R a.cur, .type-a-new, .area-a-new, .g-a-new, .p-a-new {
    background: #609fbf;
    color: #FFF;
}



.search-list {
    margin-top: 0;
}

.list-box {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.list-a {
    position: relative;
    display: block;
    margin-top: 15px;
    height: 100%;
    overflow: hidden;
    background: #F9F9F9;
}

/*.list-a img {*/
/*    width: 150px;*/
/*    height: 203px;*/
/*    !*width: 100%;*!*/
/*    !*height: auto;*!*/
/*    vertical-align: top;*/
/*    border: 0;*/
/*}*/

.list-a h3 {
    font-size: 14px;
    font-weight: normal;
    padding: 0 6%;
    margin-top: 7px;
    margin-bottom: 6px;
}

.list-a i {
    color: #cc0000;
    float: right;
    position: relative;
    right: 10px;
    top: -24px;
}

.list-a p {
    padding: 0 5%;
    font-size: 12px;
    color: #999999;
    width: 100px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

/*VIP*/
.bigImg {
    width: 150px;
    height: 203px;
    vertical-align: top;
    border: 0;
}

.vipImg {
    position: absolute;
    top: 0; /* 距离大图片顶部的距离 */
    right: 0; /* 距离大图片右侧的距离 */
    width: 50px; /* 小图片的宽度 */
    height: 50px; /* 小图片的高度 */
    z-index: 2; /* 设置小图片的层级，确保在大图片之上 */
}

/*分页*/
.vod-page {
    clear: both;
    /*display: block;*/
    /*height: 28px;*/
    line-height: 28px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    /*margin-top: 24px;*/
    /*margin-bottom: 26px;*/
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    margin: 0;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 4px 8px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #2980b9;
}