<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link type = "text/css" rel = "stylesheet" href = "/css/video-content.css" >
    <link type = "text/css" rel = "stylesheet" href = "/css/video-info.css" >
    <link type = "text/css" rel = "stylesheet" href = "/css/popup.css" >
    <script src ="/js/jquery-1.4.2.js" defer="defer"></script>
    <script src = "/js/detail.js" defer="defer"></script>
</head>
<body>
    <div class="content-box">
        <!--导航-->
        <div id="top" th:insert="top.html"></div>
        <!--导航结束-->
        <!--弹窗-->
        <div id="overlay">
            <div id="popup">
                <button id="closeBtn">×</button>
                <button id="openMembershipBtn">开通会员</button>
            </div>
        </div>
        <!--弹窗结束-->
        <!--视频-->
        <div class="playerBox">
            <div class="playerBox-player">
                <div class="player-wrapper">
                    <div id = "vodPlayer" class="play-media">
                        <div class="player-body run">
                            <div id = "live_SWF" class="player-swf">
                                <div class="mplayer">
                                    <div class="playerContainer" th:if="${limitation == true}">
                                        <video id = "videoPlay" class="currentVideo" preload="auto" th:src="@{'/video/'+${movie.getVideoUrl()}}"></video>
                                    </div>
                                    <div class="playerContainer" th:if="${limitation == false}">
                                        <img src="/img/icon/limitation.png" class="currentVideo currentImg">
                                    </div>
                                    <div class="playerPosterWrap hidden">
                                        <div class="playerPoster">
                                            <i class="iconfont icon-play posterBtnPlay"></i>
                                        </div>
                                    </div>
                                    <!--设置Box-->
                                    <div class="playerBottom" style="display: block">
                                        <div class="hintInfo qualityTip">
                                            <div class="hintTip">
                                                正在为您切换到
                                                <span style="color: #0D9BFF; ">高清 480P</span>
                                                ,请稍候...
                                            </div>
                                        </div>
                                        <div class="hintInfo rateTip">
                                            <div class="hintTip">
                                                播放速度：
                                                <span style="color: #0D9BFF; ">2X</span>
                                            </div>
                                        </div>
                                        <div class="hintInfo settingTip">
                                            <div class="hintTip">设置成功</div>
                                        </div>
                                        <div class="hintInfo volumeTip">
                                            <div class="hintTip">
                                                音量：
                                                <span style="color: #0D9BFF; "></span>
                                            </div>
                                        </div>
                                        <div class="hintInfo memberTip">
                                            <div class="hintTip">
                                                <span class="memberTipClose">
                                                    <i class="iconfont icon-close"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="playerControl">
                                            <div class="controlLeft">
                                                <div class="controlIcon controlPlay tipIcon videoPlay" data-tip="播放">
                                                    <i class="iconfont btnControlPlay icon-pause"></i>
                                                </div>
                                                <div class="controlIcon controlNext hidden">
                                                    <i class="iconfont icon-next"></i>
                                                    <div class="nextWrap">
                                                        <div class="nextWrapBox"></div>
                                                    </div>
                                                </div>
                                                <span class="playerTime">
                                                    <span id="pTime" class="pTime">00:00:00</span>
                                                    <span class="timeDelimiter">/</span>
                                                    <span id="dTime" class="dTime">00:00:00</span>
                                                </span>
                                                <div class="textIcon box controlLiveTag">
                                                    <span>直播</span>
                                                </div>
                                            </div>
                                            <div class="controlRight">
                                                <div class="textIcon controlPlaybackRate box">
                                                    <span>倍速</span>
                                                    <div class="playbackRateWrap">
                                                        <ul class="playbackRateBox">
                                                            <li value="2.0">2.0x</li>
                                                            <li value="1.75">1.75x</li>
                                                            <li value="1.5">1.5x</li>
                                                            <li value="1" class="selected">1.0x</li>
                                                            <li value="0.75">0.75x</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="textIcon controlQuality box">
                                                    <span class="qualityTitle">标清</span>
                                                    <div class="qualityWrap">
                                                        <ul class="qualityBox">
                                                            <li value="1">高清</li>
                                                            <li value="0" class="selected">标清</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="controlIcon controlVoice box">
                                                    <img src="/img/icon/sound.png" class="icon voiceSound"></img>
                                                    <div class="voiceWrap">
                                                        <div class="voiceBox">
                                                            <div class="voiceSliderPercent">100%</div>
                                                            <div class="voiceSlider">
                                                                <div class="voiceSliderBg" style="height: 100%;"></div>
                                                                <div class="voiceSliderBlock" style="bottom: 98%;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="controlIcon controlSetting box">
                                                    <img src="/img/icon/setting.png" class="icon setting"></img>
                                                    <div class="settingWrap">
                                                        <div class="settingBox">
                                                            <div class="settingItem">
                                                                <span>循环播放</span>
                                                            </div>
                                                            <div class="settingItem">
                                                                <span>跳过片头</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-tip="全屏" class="controlIcon controlFullscreen tipIcon">
                                                    <img src="/img/icon/all.png" class="icon fullScreen"></img>
                                                </div>
                                            </div>
                                            <!--进度条-->
                                            <div class="sliderBox">
                                                <div class="sliderTime" style="left: 0;">00:00:00</div>
                                                <div class="sliderTimeBlock" style="left: 0;"></div>
                                                <div class="sliderLoaded" style="width: 0.441756%;"></div>
                                                <div class="sliderBg" style="width: 0.0440819%;"></div>
                                                <div class="sliderBlock" style="left: calc(0.044082% - 8px);"></div>
                                            </div>
                                            <!--进度条结束-->
                                        </div>
                                    </div>
                                    <!--设置Box结束-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--视频结束-->
        <!--infoBox-->
        <div class="playerBox-info">
            <div class="playerBox-info-content">
                <!-- 标题+年份+评分 -->
                <div class="playerBox-info-title">
                    <h1 class="playerBox-info-name playerBox-info-cnName" th:text="${movie.getMovieName()}"></h1>
                    <span class="playerBox-info-year" th:text="'('+${movie.dateToYear()}+')'"></span>
                    <span class="playerBox-info-grade" id="InfoScore" th:text="${movie.getRating()}"></span>
                </div>
                <!-- 简介 -->
                <div class="playerBox-info-intro" id = "playerBoxInfoIntro">
                    <p>剧情简介：</p>
                    <span id="playerBoxIntroCon" class="playerBox-intro-con" >
                        <b th:text="${movie.getIntroduction()} + '...'"></b>
                    </span>
                    <!--图片、导演、类型等资料-->
                    <div class="playerBox-intro-ctx" id = "playerBoxIntroCtx" style="display: block">
                        <div class="playerBox-info-vodAvatar">
                            <a href="#">
                                <img th:src="@{'/img/movie_picture/'+${movie.getPicture()}}">
                            </a>
                        </div>
                        <div class="playerBox-info-vodDetails">
                            <ul class="playerBox-info-vodInfoList">
                                <li class="playerBox-info-vodInfoItem">
                                    <b>主演：&nbsp;</b>
                                    <span class="playerBox-info-vodMp">
                                    <a class="actor-option" th:each="actor:${movie.getActorList()}" th:text="${actor}" th:href="@{'/index?tag=1&text='+${actor} + '&type=全部&area=全部&g=全部&p=最热'}"></a>
                                </span>
                                </li>
                                <li class="playerBox-info-vodInfoItem">
                                    <b>类型：&nbsp;</b>
                                    <a class="type-option" th:each="type:${movie.getTypeList()}" th:text="${type}" th:href="@{'/index?tag=0&text=&type='+${type} + '&area=全部&g=全部&p=最热'}"></a>
                                </li>
                                <li class="playerBox-info-vodInfoItem">
                                    <b>地区：&nbsp;</b>
                                    <a class="area-option" th:text="${movie.getProductionPlace()}" th:href="@{'/index?tag=0&text=&type=全部&area=' +${movie.getProductionPlace()} +'&g=全部&p=最热'}"></a>
                                </li>
                                <li class="playerBox-info-vodInfoItem">
                                    <b>基因：&nbsp;</b>
                                    <a class="genre-option" th:text="${movie.getGenre()}" th:href="@{'/index?tag=0&text=&type=全部&area=全部&g=' + ${movie.getGenre()} +'&p=最热'}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--infoBox结束-->

    </div>

</body>
</html>