<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link type = "text/css" rel = "stylesheet" href = "/css/register.css" >
		<script src="/js/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="/js/regist_ajax.js"></script>
	</head>
	<body>
			<div class = "reg">
			<div class = "nav">
<!--				<div class = "logo">-->
<!--					<img src = "__ROOT__/public/static/img/logo.jpg" width="50px" height="50px" />-->
<!--				</div>-->
				<div class = "logoname">囧囧电影</div>
			</div>

			<div class = "center">
				<form>
				<table class = "regTalbe">
					<tr>
						<td class = "td1">E-mail：</td>
						<td class = "td2">
							<input type = "text" id = "email" name = "email" value = "a@163.com" placeholder="请输入E-mail" autocomplete="off" />
							
						</td>
						<td class = "td3"><span id="email_msg"></span></td>
					</tr>
					<tr>
						<td class = "td1">密码：</td>
						<td class = "td2">
							<input type = "password" id = "password" name = "password" placeholder="请输入密码" autocomplete="off" />
							
						</td>
						<td class = "td3"><span id="password_msg"></span></td>
					</tr>
					<tr>
						<td class = "td1">确认密码：</td>
						<td class = "td2">
							<input type = "password" id = "repassword" name = "repassword" placeholder="请再次输入密码" autocomplete="off" />
							
						</td>
						<td class = "td3"><span id="repassword_msg"></span></td>
					</tr>
				</table>
			<div class = "button">
				<input type = "submit" id = "reg" value = "注册"/>
			</div>
			</form>

			</div>
			<div class = "bottom">
					<a href = "/index/toLogin" >返回登录</a>
			</div>
		</div>
	</body>
</html>
